
@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/stylesheet.css">
</head>


<body>
    <div>

        <img src="~/imgs/welcome-big-screen-silver-wallpaper.png" style= "width:50%; height:50%;position:center" />
    </div>

    <div class="left">
        <img src="~/imgs/iMAGE1.png" />
        <input class="button_id" type="submit" value="Log In" />

    </div>
    
    <div class="right">
        <img src="~/imgs/IMAGE2.png" />
        <input class="button_id_register" type="submit" value="Sign In" />
    </div>
    
    

</body>

