<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>

        <img src="~../imgs/welcom.png"  style="width:auto, height=40px;"/>
        @RenderBody()
    </div>
</body>
</html>
